@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mi tortor, ullamcorper nec eleifend vitae, porttitor eu metus. In scelerisque dignissim lacus in egestas. Aliquam erat volutpat. Donec pulvinar justo vel libero pharetra, rutrum sagittis sapien blandit. Curabitur convallis, turpis eu dignissim condimentum, erat ex facilisis urna, quis porttitor nulla lorem vel eros. Nam at augue placerat, euismod massa et, sollicitudin magna. Phasellus non massa quis justo iaculis viverra vitae eu felis. Ut lobortis, ante sit amet cursus hendrerit, arcu diam convallis ipsum, non aliquam purus libero sit amet felis. Aliquam congue enim vitae tempus luctus. Aenean posuere in nisl a dignissim. Sed consequat accumsan pulvinar. Morbi at ultrices risus. Sed neque dui, pharetra sit amet ornare et, iaculis eget risus. Etiam orci lacus, cursus eget imperdiet ac, dignissim a dui.

    Vivamus eleifend eros vel nisl vulputate malesuada. Aenean imperdiet, ante vel gravida ultricies, tellus erat pellentesque mauris, vel commodo ante nisi ut ipsum. In hac habitasse platea dictumst. Duis vel imperdiet arcu. Sed eget erat at arcu fringilla pulvinar quis sit amet elit. Cras fermentum, urna eu imperdiet rutrum, tellus dui scelerisque purus, ut aliquet nibh mauris ut nunc. Donec sit amet pulvinar magna. Duis consequat libero vitae ornare varius. Morbi lobortis sapien sed scelerisque eleifend.

    Fusce fermentum pellentesque fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis maximus turpis. Morbi ultricies erat vel enim hendrerit rutrum. Donec vel nulla vitae sem interdum condimentum vel condimentum orci. Aliquam quis dictum massa. Sed a ex nec purus mollis fringilla. Praesent tincidunt, lacus sed finibus luctus, est risus porta nunc, non semper tellus nunc vel ante. Nunc elit quam, tincidunt in laoreet ut, congue sed sapien. Donec pharetra aliquet eros, eu mollis velit dapibus imperdiet. Suspendisse interdum diam erat, at pulvinar purus finibus ut. Integer elementum volutpat mi eu porttitor.
</p>
